html,
body {
  min-width: 900px;
  font-size: 16px;
  line-height: 1.1em;
  color: black;
  font-family: Roboto, Arial, sans-serif;
  background: #849d8f;
  margin: 0;
  padding: 0;
  color: white;
}


h1 {
  font-size: 60px;
}


h2 {
  font-size: 35px;
}


.wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.main-header {
  min-height: 115px;
}


.container {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.main-navigation {
  float: left;
  height: 32px;
  margin-right: 80px;
  margin-top: 15px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.main-navigation li {
  display: inline-block;
  vertical-align: top;
  margin-left: 28px;
  padding: 17px 0px 8px 0;
}


.user-block a {
  float: left;
  margin-top: 22px;
  margin-left: 17px;
  padding: 10px 17px 12px 45px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  background: #a1b4a9 url("../img/inpt_w.png") no-repeat 19px;
}


.user-block a:hover {
  color: black;
  background: #f8f7f4 url("../img/inpt_b.png") no-repeat 19px;
}


.user-block::before {
  content: "";
  position: absolute;
  top: 47px;
  left: 690px;
  width: 23px;
  height: 23px;
  background-image: url("../img/inpt_w.png") no-repeat;
  
}


.basket a {
  float: right;
  margin-top: 22px;
  padding: 10px 35px 12px 45px;
  text-decoration: none;
  color: white;
  background-color: #a1b4a9;
  font-size: 14px;
  border-radius: 20px;
  background: #a1b4a9 url("../img/basket_w.png") no-repeat 19px;
}


.basket a:hover {
  background-color: #f8f7f4;
  color: black;
  background: #a1b4a9 url("../img/basket_f.png") no-repeat 19px;
}


.logo {
  float: left;
  width: 154px;
  margin-top: 9px;
  margin-left: -5px;
}

.schedule {
  float: right;
  width: 167px;
  margin-top: 10px;
}


.telefon {
  float: right;
  width: 174px;
  clear: both;
  margin-top: -8px;
  font-size: 24px;
}


.slider {
  position: relative;
  margin-top: 214px;
}


.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}


.slide {
  display: none;
  padding: 0px;
  margin: 0px;
}

.slide-title {
  width: 680px;
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 29px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}


.btn-slider {
  display: block; 
  width: 281px;
  height: 44px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 22px;
}


#btn-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/background-img-1.png");
}


#btn-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/background-img-2.png");
}


#btn-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/background-img-3.png");
}


#btn-1:checked ~ .wrapper #slide-1,
#btn-2:checked ~ .wrapper #slide-2,
#btn-3:checked ~ .wrapper #slide-3 {
  display: block;
}


#btn-1:checked ~ .wrapper label[for="btn-1"],
#btn-2:checked ~ .wrapper label[for="btn-2"],
#btn-3:checked ~ .wrapper label[for="btn-3"] {
  background-color: #ffffff;
}


#btn-1 ~ .wrapper label[for="btn-1"]:hover,
#btn-2 ~ .wrapper label[for="btn-2"]:hover,
#btn-3 ~ .wrapper label[for="btn-3"]:hover {
  background-color: rgba(255,255,255,0.4);
}


#btn-1:checked ~ .wrapper label[for="btn-1"]:hover,
#btn-2:checked ~ .wrapper label[for="btn-2"]:hover,
#btn-3:checked ~ .wrapper label[for="btn-3"]:hover {
  background-color: rgba(255,255,255,1);
}

input[type="radio"] {
  display: none;
}


.banner {
  margin-bottom: 21px;
}


.banner-1 {
  float: left;
  width: 400px;
  margin-top: 41px;
  padding-left: 20px;
  background-color: #4f6f6f;
}


.banner-1 a {
  float: right;
  width: 166px;
  height: 33px;
  margin-right: 22px;
  padding-top: 13px;
  margin-top: 16px;
  text-align: center;
}


.banner-2 {
  float: right;
  width: 400px;
  margin-top: 41px;
  padding-left: 20px;
  background-color: #4f6f6f;
}


.banner-2 a {
  float: right;
  width: 166px;
  height: 33px;
  margin-right: 22px;
  padding-top: 13px;
  margin-top: 16px;
  text-align: center;
}


.hits {
  width: 880px;
}


.item {
  float: left;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 40px;
  text-align: center;
}


.about {
  float: left;
  padding-left: 20px;
  color: black;
}


.seo {
  float: left;
  width: 345px;
  margin-left: 75px;
  margin-bottom: 29px;
  background-color: #2e9090;
}


.newsletters {
  float: left;
  color: black;
}


.newsletter-1 {
  float: left;
  width: 400px;
  min-height: 223px;
  margin-bottom: 40px;
  margin-top: 41px;
  padding-left: 20px;
  background-color: #2e9090;
}


.newsletter-2 {
  float: right;
  width: 400px;
  min-height: 223px;
  margin-top: 41px;
  padding-left: 20px;
  margin-left: 20px;
  background-color: #2e9090;
}


.newsletter-form {
  margin-left: 27px;
  margin-right: 27px;
  height: 42px;
}


.newsletter a {
  color: black;
}


.map {
  position: relative;
  right: 20px;
  
}


.adress {
  position: absolute;
  width: 279px;
  height: 305px;
  left: 575px;
  background: white;
  bottom: 50px;
  padding-top: 33px;
  padding-left: 27px
}


.adress a,
.adress p {
  color: black;
}


.main-footer {
  width: 900px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
}


.footer-social {
  float: left;
  width: 200px;
  margin-top: 38px;
  margin-right: 20px;
  text-align: left;
}


.production {
  float: left;
  width: 200px;
  text-align: center;
  margin-top: 38px;
}


.docs {
  float: left;
  width: 220px;
  margin-top: 38px;
}


.footer-copyright {
  float: right;
  width: 210px;
  margin-top: 21px;
  font-size: 12px;
}


.container>a>img {
  float: left;
  width: 154px;
  margin-top: 9px;
  margin-left: 14px;
}


.footer-copyright a img {
  float: left;
  width: 108px;
  margin-right: 90px;
  margin-bottom: 10px;
}


.breadcrumbs ul {
  margin: 0;
  padding: 0;
}


.breadcrumbs li{
  display: inline;
  margin-right: 22px;
}


.sort {
  float: left;
  width: 192px;
  margin-left: 20px;
  background-color: #2e9090;
}


.rang {
  float: left;
  width: 220px;
  background-color: #2e9090;
}

.fat {
  float: right;
  width: 415px;
  margin-top: -16px;
  background-color: #2e9090;
}

.fillers {
  float: left;
  width: 702px;
  margin-bottom: 29px;
  margin-left: 20px;
  background-color: #2e9090;
}

.items {
  float: left;
  width: 900px;
}


.item:nth-child(4n+1) {
  clear: left;
}


.paginator {
  float: right;
  clear: left;
  margin-right: 20px;
 }


.paginator a{
  margin-right: 10px
}

form {
  height: 167px;
  margin-bottom: 30px;
}


a {
  color: white;
}






.search {
  display: none;
}

.user-block .login {
  display: block;
  display: none;
}

.feedback-form {
  display: none;
}

.main-navigation li li {
  display: block;
  display: none;
  margin-left: -40px;
}

.basket-menu {
  display: none;
}