html,
body {
  font-size: 16px;
  line-height: 1.1em;
  color: black;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 60px;
}


h2 {
  font-size: 35px;
}


.main-header {
  min-height: 115px;
}


.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.main-navigation {
  float: left;
  height: 32px;
  width: 378px;
  margin-left: 5px;
  margin-right: 80px;
  margin-top: 15px;
}


.main-navigation li {
  display: inline-block;
  vertical-align: top;
  padding: 0px 10px 10px 0;
}


.user-block {
  float: left;
  width: 32px;
  height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  padding: 15px 16px 15px 45px;
}


.basket {
  float: right;
  width: 37px;
  height: 20px;
  margin-top: 15px;
  margin-right: 20px;
  padding: 15px 34px 15px 46px;
}

.logo {
  float: left;
  width: 154px;
  margin-top: 9px;
  margin-left: 14px;
}

.schedule {
  float: right;
  width: 172px;
  margin-right: 20px;
  margin-top: 10px;
}


.telefon {
  float: right;
  width: 130px;
  clear: both;
  margin-right: 20px;
  margin-top: -10px;
 }


.background {
  width: 900px;
  height: 584px;
  margin-top: 250px;
  margin-bottom: 42px;
}


.background-btn{
  display: block; 
  width: 281px;
  height: 44px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 22px;
}


.banner {
  margin-bottom: 21px;
}


.banner-1 {
  float: left;
  width: 400px;
  margin-top: 41px;
  margin-left: 20px;
  padding-left: 20px;
}


.banner-1 a {
  float: right;
  width: 166px;
  height: 33px;
  margin-right: 22px;
  padding-top: 13px;
  margin-top: 16px;
  text-align: center;
}


.banner-2 {
  float: right;
  width: 400px;
  margin-top: 41px;
  margin-right: 20px;
  padding-left: 20px;
}


.banner-2 a {
  float: right;
  width: 166px;
  height: 33px;
  margin-right: 22px;
  padding-top: 13px;
  margin-top: 16px;
  text-align: center;
}


.item {
  float: left;
  width: 200px;
  min-height: 283px;
  margin-left: 20px;
  margin-bottom: 40px;
}


.about {
  float: left;
  width: 900px;
}


.seo {
  float: left;
  width: 345px;
  margin-left: 76px;
  margin-bottom: 29px;
}


.newsletters {
  float: left;
  width: 900px;
  padding-left: 0;
}


.newsletter-1 {
  float: left;
  width: 420px;
  min-height: 223px;
  margin-bottom: 40px;
  margin-top: 41px;
  padding-left: 20px;
}


.newsletter-2 {
  float: right;
  width: 420px;
  min-height: 223px;
  margin-top: 41px;
}

.newsletter-2 p{
  display: inline-block;
  vertical-align: top;
}


.newsletter-form {
  margin-left: 27px;
  margin-right: 27px;
  height: 42px;
}


.map {
  position: relative;
  margin-top: 665px;
}


.adress {
  position: absolute;
  width: 279px;
  height: 305px;
  left: 575px;
  background: white;
  bottom: 50px;
  padding-top: 33px;
  padding-left: 27px
}


.main-footer {
  width: 900px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
}


.footer-social {
  float: left;
  width: 186px;
  margin-top: 36px;
  margin-right: 10px;
  margin-left: 20px;
}


.production {
  float: left;
  width: 137px;
  text-align: left;
  margin-top: 36px;
  margin-right: 30px;
}


.docs {
  float: left;
  width: 166px;
  margin-top: 36px;
  margin-right: 70px;
}


.footer-copyright {
  float: right;
  width: 260px;
  margin-top: 10px;
  margin-right: 20px;
}


.container>a>img {
  float: left;
  width: 154px;
  margin-top: 9px;
  margin-left: 14px;
}


.footer-copyright a img {
  float: left;
  width: 108px;
  margin-right: 90px;
  margin-bottom: 10px;
}


.breadcrumbs ul {
  padding-left: 0;
}


.breadcrumbs li{
  display: inline;
  margin-right: 22px;
}


.sort {
  float: left;
  width: 192px;
}


.rang {
  float: left;
  width: 220px;
}

.fat {
  float: right;
  width: 415px
}

.fillers {
  float: left;
  width: 702px;
  margin-bottom: 29px;
}

.items {
  float: left;
  width: 900px;
}

.item {
  float: left;
  width: 200px;
  margin-top: 20px;
}


.item:nth-child(4n+1) {
  clear: left;
}


.paginator {
  float: right;
  clear: left;
  margin-right: 20px;
 }


.paginator a{
  margin-right: 10px
}

form {
  height: 167px;
  margin-bottom: 30px;
}









.search {
  display: none;
}

.user-block .login {
  display: block;
  display: none;
}

.feedback-form {
  display: none;
}

.main-navigation li li {
  display: block;
  display: none;
  margin-left: -40px;
}

.basket-menu {
  display: none;
}